* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  -moz-tab-size: 4;
  tab-size: 4;
  
  --color: #212A32;
  --bg-color: #DBDEE3;
  --secondary: slategrey;
  
  --box-shadow: .15rem .25rem .40rem grey;
}


html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}


button,
[type='submit'] {
  -webkit-appearance: button;
}


button::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
}


button:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}


body {
  color: var(--color);
  background: var(--bg-color);
  min-height: 100vh;
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
  display: flex;
  flex-direction: column;
  align-items: center;
}


header {
  text-align: center;
  padding: 15vh 0 5vh 0;
  transition: all 0.2s ease;
}


h1 {
  color: var(--secondary);
  font-size: 2.5rem;
}


h1 span {
  color: #212A32;
}


form {
  position: relative;
  min-height: 2.5rem;
  min-width: 18rem;
  background: white;
  display: flex;
  border-radius: .25rem;
  box-shadow: var(--box-shadow);
}


form input {
  flex: 1;
  padding: 0 1rem;
  font-size: 1rem;
  border: none;
  background: none;
}


form button {
  position: relative;
  width: 15%;
  border: none;
  border-radius: 0 .25rem .25rem 0;
}


form button svg {
  position: absolute;
  height: 50%;
  transform: translate(-50%, -50%);
}


form button svg path {
  fill: var(--color);
}


#result {
  flex: 1;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#result img {
  height: 16rem;
  box-shadow: var(--box-shadow);
}


#result a {
  margin-top: 2rem;
  padding: .5rem 2rem;
  color: var(--bg-color);
  background: var(--color);
  text-decoration: none;
  font-size: .80rem;
  font-weight: 500;
  letter-spacing: .1rem;
  border-radius: .25rem;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}


#result p {
  font-size: .8rem;
}


#spinner {
  --bg-color: #f3f3f3;
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 5px solid var(--bg-color);
  border-top: 6px solid var(--color);
  border-radius: 100%;
  visibility: hidden;
  animation: spin .5s infinite linear;
}


#spinner.display {
  visibility: visible;
}


@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}


footer {
  padding: 1.5rem 0 5.5rem 0;
  font-size: .8rem;
  text-align: center;
}


@media screen and (min-width: 580px) {
  html,
  body {
    font-size: calc(14px + 8 * ((100vh - 320px) / 960));
  }
}


@media screen and (min-width: 1280px) {
  html,
  body {
    font-size: 22px;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --color: #e1e1ff;
    --bg-color: #000000;
    --box-shadow: none;
  }
  
  h1 {
    color: #e1e1ff;
  }
  
  h1 span {
    color: var(--secondary);
  }
  
  form {
    background: #212A32;
  }
  
  form input {
    color: var(--color);
  }
  
  #result a {
    --color: #e1e1ff;
  }
  
  #spinner {
    --bg-color: #e1e1ff;
    --color: #212A32;
  }
}